.container {
    display: flex;
  }
  
  .mainContent {
    margin-left: 25%;
    padding: 2rem;
    width: 100%;
  }


  @media (max-width: 992px) {
    .mainContent {
      margin-left: 4%;
      padding: 0rem;
      width: 100%;
    }
  
    
  }
  
  @media (max-width: 270px) {

    .mainContent {
      margin-left: 4% !important;
      padding: 0rem !important;
      width: 100% !important;
    }
    
  }
  